# Stripe Keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here
STRIPE_SECRET_KEY=sk_test_your_key_here

# Klaviyo API
KLAVIYO_API_KEY=KLAVIYO_API_KEY=pk_8dca2b388ba0f483ab1fdea6c45d3698d9


# Klaviyo List IDs (Public - can be exposed to client)
NEXT_PUBLIC_KLAVIYO_MENTAL_LIST_ID=your_mental_coach_list_id_here
NEXT_PUBLIC_KLAVIYO_FITNESS_LIST_ID=your_fitness_coach_list_id_here
NEXT_PUBLIC_KLAVIYO_MAIN_LIST_ID=your_main_list_id_here

